<div class="container">
  <h1>Жилье по адресу</h1>
    <div id="content">
    <%= react_component 'NewFlatByAddress', { cities: @cities, streets: @streets, houses: @houses, rooms: @rooms } %>
    </div>
  <%= link_to 'Back', flats_path %>
</div>
